@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuente: "Cal Sans", sans-serif;
    --width: clamp(32rem, 90%, 120rem);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 10px = 1rem*/
    font-family: var(--fuente);
}
.center {text-align: center;}

h1{font-size: 3.5rem; margin: 2rem 0;}
h2{font-size: 2.4rem;}
p{font-size: 1.8rem;}
li{font-size: 1.4rem; list-style-type: none;margin-left: 1rem; font-weight: normal; margin-bottom: 1rem; white-space: normal;
    line-height: 1.5;}

.container {
    width: var(--width);
    margin: 0 auto;
}

.btn{
    display: block;
    margin: 0 auto;
    padding: 1.2rem;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: .8rem;
    cursor: pointer;
    color: slategray;
    margin-bottom: 2rem;
}
.car__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.car__box {
    padding: 1rem;
    width: 350px;
    height: 500px;
    border: 1px solid #000;
    border-radius: .8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
